%h1 Nueva Venta

.grid_8  
  = form_for @sale do |t|
    = field_set_tag 'Quien hizo la venta' do
      = t.label 'Sucursal'
      = t.select :store, Store.all.collect{|d| [d.name, d.id]}
    
      = t.label 'Vendedor'
      = t.select :dealer, User.all.collect{|u| [u.name, u.id]}
    
    = field_set_tag 'Cliente' do
      = t.fields_for :sale_customer do |c|
        = c.label 'Nombre'
        = c.text_field :customer
    
    = field_set_tag 'Produtos', :id=>'fields_for_products' do
      = fields_for 'sale_sale_products_attributes' do |s|
        =s.label 'nombre'
        =s.text_field 'name'
        =s.label 'cantidad'
        =s.text_field 'qty', :size=>'3'
        
        =s.label 'nombre'
        =s.text_field 'name'
        =s.label 'cantidad'
        =s.text_field 'qty', :size=>'3'
    = link_to_function image_tag('icons/add.png') do |page|
      -page['#fields_for_products'].append render :partial=>'sale_products_fields', :locals=>{:t=>t}
      
    .action
      = t.submit 'Vender' 
